<div class="card">
  <div class="card-header shadow">
    <h5 class="title">Employee Territory</h5>
  </div>
  <div class="card-body shadow">
    <form [formGroup]="employeeTerritoryForm">
      <div class="form-group mb-3">
        <label for="EmployeeID-input">Employee ID</label>
        <input
          type="number"
          id="EmployeeID-input"
          formControlName="EmployeeID"
          class="form-control"
          placeholder="Enter Employee ID"
        />
      </div>
      <div class="form-group mb-3">
        <label for="TerritoryID-input">Territory ID</label>
        <input
          type="text"
          id="TerritoryID-input"
          formControlName="TerritoryID"
          class="form-control"
          placeholder="Enter Territory ID"
        />
      </div>
    </form>
  </div>
  <div class="card-footer shadow d-flex">
    <button
      *ngIf="employeeTerritory === undefined; else editButton"
      (click)="add()"
      class="btn btn-primary w-100 shadow-sm"
    >
      Add
    </button>
    <ng-template #editButton>
      <button (click)="edit()" class="btn btn-primary w-100 shadow-sm">
        Edit
      </button>
      <button (click)="delete_()" class="btn btn-danger w-100 shadow-sm">
        Delete
      </button>
    </ng-template>
  </div>
</div>
