<div class="d-flex mb-2">
  <input
    [(ngModel)]="filterText"
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</div>
<div *ngIf="filterText" class="alert alert-info">
  Displaying shippers containing <strong>{{ filterText }}</strong
  >.
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>CompanyName</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let shipper of shippers | filter: filterText:'CompanyName'"
        (click)="editShipper(shipper)"
      >
        <td>{{ shipper.ShipperID }}</td>
        <td>{{ shipper.CompanyName }}</td>
        <td>{{ shipper.Phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
