<div class="d-flex justify-content-center align-items-center h-100 w-100">
  <form [formGroup]="loginForm" class="w-25">
    <h1 class="h3 mb-3 fw-normal">Welcome</h1>
    <div class="form-floating mb-3">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button (click)="login()" class="w-100 btn btn-lg btn-primary">
      Login
    </button>
  </form>
</div>
