<div class="d-flex mb-2">
  <input
    [(ngModel)]="filterText"
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</div>
<div *ngIf="filterText" class="alert alert-info">
  Displaying customers containing <strong>{{ filterText }}</strong
  >.
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers | filter: filterText:'CompanyName'"
        (click)="editCustomer(customer)"
      >
        <td>{{ customer.CustomerID }}</td>
        <td>{{ customer.CompanyName }}</td>
        <td>{{ customer.ContactName }}</td>
        <td>{{ customer.ContactTitle }}</td>
        <td>{{ customer.Address }}</td>
        <td>{{ customer.City }}</td>
        <td>{{ customer.Region }}</td>
        <td>{{ customer.PostalCode }}</td>
        <td>{{ customer.Country }}</td>
        <td>{{ customer.Phone }}</td>
        <td>{{ customer.Fax }}</td>
      </tr>
    </tbody>
  </table>
</div>
