<div class="d-flex mb-2">
  <input
    [(ngModel)]="filterText"
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</div>
<div *ngIf="filterText" class="alert alert-info">
  Displaying regions containing <strong>{{ filterText }}</strong
  >.
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let region of regions | filter: filterText:'RegionDescription'"
        (click)="editRegion(region)"
      >
        <td>{{ region.RegionID }}</td>
        <td>{{ region.RegionDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
