<div class="row">
  <div class="col-md-3">
    <app-category></app-category>
  </div>
  <div class="col-md-9">
    <div
      *ngIf="dataLoaded == false"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="d-flex my-3">
      <input
        [(ngModel)]="filterText"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>

    <div *ngIf="filterText" class="alert alert-info">
      Displaying products containing <strong>{{ filterText }}</strong
      >.
    </div>

    <table *ngIf="dataLoaded == true" class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Unit Price</th>
          <th>+VAT</th>
          <th>Unit in Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | filter: filterText:'ProductName'">
          <td>{{ product.ProductID }}</td>
          <td>{{ product.ProductName | uppercase }}</td>
          <td>{{ product.CategoryID }}</td>
          <td>{{ product.UnitPrice | currency }}</td>
          <td>{{ product.UnitPrice | vatAdded: 10 | currency }}</td>
          <td>{{ product.UnitsInStock }}</td>
          <td>
            <button (click)="addToCart(product)" class="btn btn-success">
              Add to Card
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
