<div class="card">
  <div class="card-header shadow">
    <h5 class="title">Category</h5>
  </div>
  <div class="card-body shadow">
    <form [formGroup]="categoryForm">
      <div class="form-group mb-3">
        <label for="CategoryName-input">Category Name</label>
        <input
          type="text"
          id="CategoryName-input"
          formControlName="CategoryName"
          class="form-control"
          placeholder="Enter Category Name"
        />
      </div>
      <div class="form-group mb-3">
        <label for="Description-input">Description</label>
        <input
          type="text"
          id="Description-input"
          formControlName="Description"
          class="form-control"
          placeholder="Enter Description"
        />
      </div>
    </form>
  </div>
  <div class="card-footer shadow d-flex">
    <button
      *ngIf="category === undefined; else editButton"
      (click)="add()"
      class="btn btn-primary w-100 shadow-sm"
    >
      Add
    </button>
    <ng-template #editButton>
      <button (click)="edit()" class="btn btn-primary w-100 shadow-sm">
        Edit
      </button>
      <button (click)="delete_()" class="btn btn-danger w-100 shadow-sm">
        Delete
      </button>
    </ng-template>
  </div>
</div>
